
Options FollowSymLinks

ExpiresActive On
ExpiresDefault "access plus 10 second"

AddType text/markdown .md

RewriteEngine On
RewriteCond %{REQUEST_URI} \.md$
RewriteRule ".*" "index.php" [QSA,T=text/html]
